.filter-row .btn {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00a88e;
  border-color: #00a88e;
}
.filter-row .btn:hover {
  background-color: #03927c;
  border-color: #03927c;
}
:host ::ng-deep .p-inputnumber {
  width: 100%;
}
:host ::ng-deep .ui-button.ui-button-text-only .ui-button-text {
  padding: 12px 1em;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="status"] {
  width: 26%;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="deductionUpdatedDate"] {
  width: 11%;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="deductionUpdatedDate"] {
  width: 11%;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="deductionAmountPerCycle"],
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="totalDeductionAmount"] {
  width: 10%;
  text-align: right;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td[ng-reflect-field="deductionAmountPerCycle"],
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td[ng-reflect-field="totalDeductionAmount"] {
  text-align: right;
}
/* :host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(2) {
  width: 28%;
}
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td:nth-child(3) {
  width: 10%;
  text-align: right;
}

:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="deductionAmountPerCycle"] {
  width: 17%;
  text-align: right;
}
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(4),
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td:nth-child(4) {
  width: 10%;
  text-align: right;
}
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(5) {
  width: 12%;
}
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(6) {
  width: 26%;
}
:host ::ng-deep td .dropdown .dropdown-toggle {
  width: 250px;
  text-align: start;
}
:host
  ::ng-deep
  .deductionDetails.ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="expenseDate"],
:host
  ::ng-deep
  .deductionDetails.ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="advanceRequestedDate"] {
  width: 20%;
}
:host
  ::ng-deep
  .deductionDetails.ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="advancePaidDate"] {
  width: 15%;
}
:host
  ::ng-deep
  .Expense
  .deductionDetails.ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="status"] {
  width: 12%;
}
:host
  ::ng-deep
  .deductionDetails.ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="totalAmount"] {
  width: 18%;
}
:host
  ::ng-deep
  .deductionDetails.ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="advanceAmount"],
:host
  ::ng-deep
  .deductionDetails.ui-table-customers
  .ui-table-tbody
  > tr
  > td:nth-child(4) {
  width: 13%;
  text-align: right;
}
:host ::ng-deep td .dropdown-toggle::after {
  position: absolute;
  top: 13px;
  right: 9px;
}
:host ::ng-deep .deductionDetails td .dropdown-toggle::after {
  position: absolute;
  top: 13px;
  right: 9px;
  display: none;
}
:host ::ng-deep .action-label .dropdown-menu .dropdown-item,
:host ::ng-deep td .dropdown .dropdown-toggle {
  font-size: 85%;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="employeeName"] {
  width: 18%;
} */
:host ::ng-deep .ui-table-customers .ui-table-caption {
  /* padding: 5px 5px 18px 12px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.571em 0.857em;
}
:host ::ng-deep .action-label .dropdown-menu .dropdown-item,
:host ::ng-deep td .dropdown .dropdown-toggle {
  font-size: 85%;
}
