.username {
  color: #6c757d;
  text-transform: capitalize;
}
.personal-info li .title {
  font-weight: inherit;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
}
.downloadW4Form .nav-item {
  cursor: pointer;
  margin: 0px 10px;
}
:host ::ng-deep .ui-dropdown,
:host ::ng-deep .ui-dropdown-item {
  min-width: max-content;
}
.downloadW4Form .list-group-item {
  border: none;
  color: #013893;
}
.downloadW4Form .list-group-item:hover {
  color: #00a2e3;
}
a:not([href]):not([tabindex]) {
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.alert-info {
  border-color: #f2fafb;
  background-color: #f2fafb;
  font-size: 13px;
  font-style: italic;
}
