.filter-row {
  min-height: 400px;
  overflow: auto;
  top: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}
.filter-row .btn {
  height: 44px;
}
.chat-left .chat-body {
  margin-left: 0px;
}
.chat-left .chat-content {
  width: 95%;
  max-width: 100%;
}
