<h3>Curosial Effect</h3>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row" style="margin-left: -10px;">
            <div class="col-md-4 text-center">
                <div class="profile">
                   <blockquote>
                     I am using Manatal for Talent sourcing and it is the best platform ever. 
                     I am so impressed, the Manatal team did an excellent work. This is so much awesome, 
                     system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     system that helps  integration or jobs boards. 
                     I will recommend the solution to all recruiters I know.
                   </blockquote>
                   <div class="container">
                     <div class="row">
                       <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                       <div class="col-sm-2"></div>
                       <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
                       <!-- <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                       </div>
                     </div>
                    </div>
                </div>
               </div>

               <div class="col-md-4 text-center">
                <div class="profile">
                   <blockquote>
                    Manatal is a sophisticated, easy to use, mobile-friendly and cloud-based applicant tracking 
                    system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     the support they offer exceeded also works hard to engage with 
                     their clients on what new releases are coming and how the updates will improve efficiency.
                   </blockquote>
                   <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-7" class="secgridheading"> <h3>Dineen Oliver </h3>
                      <!-- <p class="secgrid3">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                      </div>
                    </div>
                   </div>
                </div>
               </div>
          

               <div class="col-md-4 text-center">
                <div class="profile">
                   <p>
                    Overall, as a representative of a recruitment agency, the software is exactly what we were 
                    looking for and I can easily recoms are upgraded constantly 
                    system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     and the software doesn't offer it currently, 
                    they are ready to look into it, offer options, and even add them.
                   </p>
                   <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
                      <!-- <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                      </div>
                    </div>
                   </div>
                </div>
               </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="margin-left: -10px;">
            <div class="col-md-4 text-center">
                <div class="profile">
                   <p>
                    Overall, as a representative of a recruitment agency, the software is exactly what we were 
                    looking for and I can easily recommend it to anyone. Features are upgraded constantly 
                    system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     and the software doesn't offer it currently, 
                    they are ready to look into it, offer options, and even add them.
                   </p>
                   <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
                      <!-- <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                      </div>
                    </div>
                   </div>
                </div>
               </div>

            <div class="col-md-4 text-center">
                <div class="profile">
                   <p>
                    Overall, as a representative of a recruitment agency, the software is exactly what we were 
                    looking for and I can easily recommend it to anyone. Features are upgraded constantly 
                    system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     and the software doesn't offer it currently, 
                    they are ready to look into it, offer options, and even add them.
                   </p>
                   <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
                      <!-- <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                      </div>
                    </div>
                   </div>
                </div>
               </div>

               <div class="col-md-4 text-center">
                <div class="profile">
                   <p>
                    Overall, as a representative of a recruitment agency, the software is exactly what we were 
                    looking for and I can easily recommend it to anyone. Features are upgraded constantly 
                    system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     and the software doesn't offer it currently, 
                    they are ready to look into it, offer options, and even add them.
                   </p>
                   <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
                      <!-- <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                      </div>
                    </div>
                   </div>
                </div>
               </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row" style="margin-left: -10px;">
            <div class="col-md-4 text-center">
                <div class="profile">
                   <p>
                    Overall, as a representative of a recruitment agency, the software is exactly what we were 
                    looking for and I can easily recommend it to anyone. Features are upgraded constantly 
                    system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     and the software doesn't offer it currently, 
                    they are ready to look into it, offer options, and even  them.
                   </p>
                   <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver</h3>
                      <!-- <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                      </div>
                    </div>
                   </div>
                </div>
               </div>

               <div class="col-md-4 text-center">
                <div class="profile">
                   <p>
                    Overall, as a representative of a recruitment agency, the software is exactly what we were 
                    looking for and I can easily recommend it to anyone. Features are upgraded constantly 
                    system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     and the software doesn't offer it currently, 
                    they are ready to look into it, offer options, and add them.
                   </p>
                   <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
                      <!-- <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                      </div>
                    </div>
                   </div>
                </div>
               </div>

               <div class="col-md-4 text-center">
                <div class="profile">
                   <p>
                    Overall, as a representative of a recruitment agency, the software is exactly what we were 
                    looking for and I can easily recommend it to anyone. Features are upgraded constantly 
                    system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
                     and the software doesn't offer it currently, 
                    they are ready to look into it, offer options, and  add them.
                   </p>
                   <div class="container">
                    <div class="row">
                      <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
                      <div class="col-sm-2"></div>
                      <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
                      <!-- <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p> -->
                      </div>
                    </div>
                   </div>
                </div>
               </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
</div>





<!-- <section class="testimonials">
    <div class="container">
      <h2>testimonials</h2>
      <p class="text-center"> What world class human resources experts are saying about us</p>
    </div>
  
    <div class="testi">
    <div class="row">
      <div class="col-md-4 text-center">
       <div class="profile">
          <blockquote>
            I am using Manatal for Talent sourcing and it is the best platform ever. 
            I am so impressed, the Manatal team did an excellent work. This is so much awesome, 
            system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
            system that helps  integration to LinkedIn or jobs boards. 
            I will recommend the solution to all recruiters I know.
          </blockquote>
          <div class="container">
            <div class="row">
              <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
              <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p>
              </div>
            </div>
           </div>
       </div>
      </div>
  
      <div class="col-md-4 text-center">
        <div class="profile">
           <p>
            Overall, as a representative of a recruitment agency, the software is exactly what we were 
            looking for and I can easily recommend it to anyone. Features are upgraded constantly 
            system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
             and the software doesn't offer it currently, 
            they are ready to look into it, offer options, and even add them.
           </p>
  
           <div class="container">
            <div class="row">
              <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-7"> <h3 class="secgridheading">Dineen Oliver </h3>
              <p class="secgrid">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p>
              </div>
            </div>
           </div>
  
        </div>
       </div>
  
       <div class="col-md-4 text-center">
        <div class="profile">
           <blockquote>
            Manatal is a sophisticated, easy to use, mobile-friendly and cloud-based applicant tracking 
            system that helps companies achieve digitalization and seamless integration to LinkedIn or jobs boards. 
             the support they offer exceeded our expectations. Their team also works hard to engage with 
             their clients on what new releases are coming and how the updates will improve efficiency.
           </blockquote>
           <div class="container">
            <div class="row">
              <div class="col-sm-3"><img src="https://media-exp1.licdn.com/dms/image/C5103AQEUX1f14faWqA/profile-displayphoto-shrink_200_200/0/1582169554545?e=1640822400&v=beta&t=c163_UR8BXuo7qcdXDb92Ze0m0ygZjBCQ8Cm9y8l_Is" class="" style=" border-radius: 50%;" height="100px" width="100px"></div>
              <div class="col-sm-2"></div>
              <div class="col-sm-7" class="secgridheading"> <h3>Dineen Oliver </h3>
              <p class="secgrid3">Senior Recruitment Specialist - Nathan & Nathan HR, Leading HR Provider in the Middle-East</p>
              </div>
            </div>
           </div>
        </div>
       </div>
  
    </div> 
    </div> 
  </section>
   -->