.form-group {
  margin-bottom: 0px;
  border: 1px solid #e1e1e1;
  padding: 0px 5px 0px 5px;
}
:host ::ng-deep .ui-inputtext,
:host ::ng-deep .ui-calendar .ui-calendar-button,
:host ::ng-deep .ui-calendar,
.form-control {
  border-color: transparent;
  box-shadow: none;
  height: 25px;
  background: aliceblue;
  padding: 0px;
}
input::placeholder {
  color: transparent;
}
:host ::ng-deep .view .ui-inputtext,
:host ::ng-deep .view .ui-calendar .ui-calendar-button,
:host ::ng-deep .view .ui-calendar,
:host ::ng-deep .ui-inputtext:enabled:hover:not(.ui-state-error),
:host ::ng-deep .ui-inputtext {
  border-color: transparent !important;
}
.form-control {
  background: transparent;
  opacity: 1;
}

label {
  margin-bottom: 0px;
}
.signature-box {
  font-weight: bold;
  font-size: 40px;
  height: 60px;
}
