.signature {
  font-size: 40px;
  font-weight: bold;
}

.preview-btn {
  margin-top: 22px;
}
/**
AAutoSignature
AlfridaDemoSignature
AllisonScript
ArtySignature
AsemKandisPERSONALUSE
AuroRumpthut
BeautyAndelliademo
Brigham
Cherolina
ConcettaKalvaniSignature
CreattionDemo
DemoBalnes
genitdemo
Historia
Holimount
HoneymoonAvenueScriptDemo
Jasmine
LovtonyScript
PWSignatures
RaimondFREE
Rhesmanisa
TheSuavity
*/
