.invoice-details,
.invoice-payment-details > li span {
  float: none;
}
.invoice-details h3 {
  font-size: inherit;
}
#accordionExample .card-header {
  background-color: #e3e1e1;
  padding: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#accordionExample .card-header button {
  color: inherit;
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  font-size: inherit;
}
#accordionExample .card-header[aria-expanded="true"] {
  background-color: #00a88e;
}
#accordionExample .card-header[aria-expanded="true"] button {
  font-weight: 500;
}
#accordionExample .card {
  margin-bottom: 25px;
}
#accordionExample .card-header button::after {
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: "";
  height: 8px;
  display: inline-block;
  pointer-events: none;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
  border-color: #1f1f1f;
  vertical-align: 2px;
  margin-left: 2px;
  position: absolute;
  right: 10px;
  top: 15px;
}
#accordionExample .card-header button[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
:host ::ng-deep p-calendar[name="invoiceDueDate"] .ui-calendar input {
  width: 83%;
}
#comments .card-body {
  position: relative;
  height: 400px;
  overflow: auto;
  top: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
}
:host
  ::ng-deep
  .payments
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td:nth-last-child(2) {
  text-align: right;
}
.chat-left .chat-body {
  margin: 0px;
  padding: 0px;
}
.chat-left .chat-content {
  width: 96%;
  max-width: none;
  border-radius: 0px !important;
}
.chat-time strong {
  margin-right: 5px;
}
.chat-time {
  display: inherit;
}
.chat-bubble {
  margin: 0px;
}
.chats {
  padding: 15px;
}
:host ::ng-deep .chat-footer .ui-button {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.border-none {
  border: none;
}
.attchmentlabel {
  font-size: inherit;
}
:host ::ng-deep .p-inputnumber.p-component {
  display: block;
}
#add_payment .stats-info {
  margin-bottom: 0px;
  padding: 5px 15px;
}
