<div class="container-fluid p-0">
  <app-welcome-header [fixedTop]="true"></app-welcome-header>
  <section class="" style="margin-bottom: 50px !important">
    <div
      style="background: linear-gradient(to right, #013893 0%, #00a2e3 100%)"
    >
      <div class="container">
        <div
          id="carousel3"
          class="carousel slide desktop-visibility banner-slider"
          data-ride="carousel"
        >
          <div class="row">
            //
            <div class="col-sm-12 flex-grow-1">
              <div class="carousel-inner" style="box-shadow: none">
                <div class="carousel-item active">
                  <div class="row">
                    <div style="color: white" class="col-5">
                      <h1 style="margin-top: 200px">
                        <b>Organize, build, and manage your ecosystem easily</b>
                      </h1>
                      <p>
                        HRX enables you to simplify processes, engage people,
                        and adapt to change easily
                      </p>
                      <a
                        href="javascript:void(0)"
                        (click)="onLoginClick('register')"
                        ><button class="btn add-btn float-left">
                          Get Started >>
                        </button></a
                      >
                      <!-- <button type="button" class="btn btn-primary">Get free trial</button> -->
                    </div>
                    <div style="margin-top: 100px" class="col-7">
                      <img
                        src="assets/images/statistics.png"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div style="color: white" class="col-5">
                      <h1 style="margin-top: 200px">
                        <b>Build a chaos-free workspace</b>
                      </h1>
                      <p>
                        Switch to HRX - the smarter way to manage people,
                        processes, and change
                      </p>
                      <a
                        href="javascript:void(0)"
                        (click)="onLoginClick('register')"
                        ><button class="btn add-btn float-left">
                          Get Started >>
                        </button></a
                      >
                      <!-- <button type="button" class="btn btn-primary">Get free trial</button> -->
                    </div>
                    <div style="margin-top: 100px" class="col-7">
                      <img
                        src="assets/images/workspace.png"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div style="color: white" class="col-5">
                      <h1 style="margin-top: 200px">
                        <b>Create. Manage. Thrive </b>
                      </h1>
                      <p>
                        The only platform you need to manage all things people
                        and work
                      </p>
                      <a
                        href="javascript:void(0)"
                        (click)="onLoginClick('register')"
                        ><button class="btn add-btn float-left">
                          Get Started >>
                        </button></a
                      >
                      <!-- <button type="button" class="btn btn-primary">Get free trial</button> -->
                    </div>
                    <div style="margin-top: 100px" class="col-7">
                      <img
                        src="assets/images/manage-all.png"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div style="color: white" class="col-5">
                      <h1 style="margin-top: 200px">
                        <b>Your all in one People Management Platform </b>
                      </h1>
                      <p>
                        Engage employees, create experiences, manage processes,
                        and do more with HRX
                      </p>
                      <a
                        href="javascript:void(0)"
                        (click)="onLoginClick('register')"
                        ><button class="btn add-btn float-left">
                          Get Started >>
                        </button></a
                      >
                      <!-- <button type="button" class="btn btn-primary">Get free trial</button> -->
                    </div>
                    <div style="margin-top: 100px" class="col-7">
                      <img
                        src="assets/images/all-in-one.png"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row carousel-indicators carousel-boxes m-0">
                <div
                  class="carousel-box active"
                  data-target="#carousel3"
                  data-slide-to="0"
                >
                  <span class="carousel-indicator"></span>
                </div>

                <div
                  class="carousel-box"
                  data-target="#carousel3"
                  data-slide-to="1"
                >
                  <span class="carousel-indicator"></span>
                </div>

                <div
                  class="carousel-box"
                  data-target="#carousel3"
                  data-slide-to="2"
                >
                  <span class="carousel-indicator"></span>
                </div>
                <div
                  class="carousel-box"
                  data-target="#carousel3"
                  data-slide-to="3"
                >
                  <span class="carousel-indicator"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-12">
        <h1
          style="font-weight: 500; font-size: 36px; line-height: 48px"
          class="text-center mb-5"
        >
          Why HRX
        </h1>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-sm-12 col-md-6" style="border-right: 2px dashed #ccc">
        <div class="align-items-center text-center">
          <div class="dot dot-xl mb-30 m-auto">
            <span class="icon icon-xl ic-finance text-aqua">
              <!-- <i class="fa fa-usd" aria-hidden="true"></i> -->
              <img
                src="assets/images/smart-experiences.png"
                style="max-height: 80px; max-width: 80px"
                class="inv-logo"
                alt=""
              />
            </span>
          </div>
          <h3>Create Smart Experiences</h3>
          <p class="mb-1">
            Build one of a kind culture within your ecosystem with HRX’s smart
            integrations
          </p>
          <p class="mb-1">
            Empower your teams with AI-driven tools and plugins
          </p>
          <p class="mb-1">
            Design customized workspace experiences to optimize productivity
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="align-items-center text-center">
          <div class="dot dot-xl mb-30 m-auto">
            <span class="icon icon-xl ic-finance text-aqua">
              <!-- <i class="fa fa-usd" aria-hidden="true"></i> -->
              <img
                src="assets/images/AI.png"
                style="max-width: 80px"
                class="inv-logo"
                alt=""
              />
            </span>
          </div>
          <h3>Leverage The Power Of AI</h3>
          <p class="mb-1">Automate your data-centric operations</p>
          <p class="mb-1">Enroll, validate, and manage employee data</p>
          <p class="mb-1">
            Optimize regulatory data to define people processes
          </p>
        </div>
      </div>
    </div>
  </section>

  <div style="background-color: white">
    <section>
      <div class="row justify-content-center text-center py-5">
        <div class="">
          <h1 style="font-weight: 500; font-size: 36px; line-height: 48px">
            Manage all things workspace in one place
          </h1>
          <p style="width: 800px; font-size: medium">
            Your company is where a variety of minds come together and work
            toward common goals. So, remove the complexities of manual processes
            and integrate automation to create hassle-free experiences for your
            workforce, associates, and everyone in between.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="container" style="padding-bottom: 60px">
        <div
          id="carousel"
          class="carousel slide desktop-visibility"
          data-ride="carousel"
        >
          <div class="row">
            <div class="col-sm-4">
              <div class="row carousel-indicators carousel-boxes m-0">
                <div
                  class="carousel-box active"
                  data-target="#carousel"
                  data-slide-to="0"
                >
                  <h4 class="text">People-Centric Analytics</h4>
                  <p class="">
                    Drive your people-centric decisions with precise data and
                    insights from analytics
                  </p>
                </div>

                <div
                  class="carousel-box"
                  data-target="#carousel"
                  data-slide-to="1"
                >
                  <h4 class="text">Payroll & Expense Management</h4>
                  <p class="">
                    Automate and manage employee pay details, invoices, pay
                    stubs, and more in just a few minutes
                  </p>
                </div>

                <div
                  class="carousel-box"
                  data-target="#carousel"
                  data-slide-to="2"
                >
                  <h4 class="text">Organize & Manage Teams</h4>
                  <p class="">
                    Create resource profiles, designate roles, and manage your
                    internal teams effortlessly
                  </p>
                </div>

                <div
                  class="carousel-box"
                  data-target="#carousel"
                  data-slide-to="3"
                >
                  <h4 class="text">Performance & Productivity Tracking</h4>
                  <p class="">
                    Assign projects, set up goals, track progress, and analyze
                    performance analytics dynamically
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-8 flex-grow-1">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="assets/images/dashboard.png"
                    alt="HR Analytics and People Analytics. Employee Profile on HRX HR and Payroll Software"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images/paystub.png"
                    alt="Payroll Software, 6 Steps Payroll Wizard on HRX HR and Payroll Software"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images/paystub.png"
                    alt="Performance Management System on HRX HR and Payroll Software"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/images/projects.png"
                    alt="Recruiting Software and Onboarding System on HRX HR and Payroll Software"
                  />
                </div>
                <!-- <div class="carousel-item">
              <img
                style="height: 500px; width: 800px"
                src="https://c.keka.com/static/images/home/keka_hiring_onboarding.svg"
                alt="Recruiting Software and Onboarding System on HRX HR and Payroll Software"
              />
            </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <h1
    class="py-5 container"
    style="
      font-weight: 500;
      font-size: 36px;
      line-height: 48px;
      text-align: center;
      margin: auto;
    "
  >
    The only platform you need to create a performance-first workspace
  </h1>

  <section style="padding-bottom: 50px">
    <div class="container">
      <div class="desktop-visibility">
        <div class="row row-cols-md-2 row-cols-xl-3 mt-20 g-0">
          <div class="col" style="margin-bottom: 20px">
            <div class="large-box align-items-center">
              <div class="dot dot-xl bg-hr-light mb-30">
                <span class="icon icon-xl ic-finance text-hr">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </span>
              </div>
              <h3>People</h3>
              <p>
                Empower your people-centric operations with sleek automation and
                dynamic integrations
              </p>
              <a class="learn" [routerLink]="['/people']"
                >Learn more<span class="arrow">&#10230;</span></a
              >
            </div>
          </div>
          <div class="col" style="margin-bottom: 20px">
            <div class="large-box align-items-center">
              <div class="dot dot-xl bg-ptp-light mb-30">
                <span class="icon icon-xl ic-finance text-ptp">
                  <i class="fa fa-desktop" aria-hidden="true"></i>
                </span>
              </div>
              <h3>Work Desk</h3>
              <p>
                Organize and define your unique payroll, invoice, and accounting
                processes with our AI-driven solutions
              </p>
              <a class="learn" [routerLink]="['/work_desk']"
                >Learn more<span class="arrow">&#10230;</span></a
              >
            </div>
          </div>

          <div class="col" style="margin-bottom: 20px">
            <div class="large-box align-items-center">
              <div class="dot dot-xl bg-pp-light mb-30">
                <span class="icon icon-xl ic-finance text-pp">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>
              <h3>Smart HR</h3>
              <p>
                Organize your employee experiences and define AN onboard-exit
                strategy with Smart HR
              </p>
              <a class="learn" [routerLink]="['/smart_hr']"
                >Learn more<span class="arrow">&#10230;</span></a
              >
            </div>
          </div>
          <div class="col" style="margin-bottom: 20px">
            <div class="large-box align-items-center">
              <div class="dot dot-xl bg-pt-light mb-30">
                <span class="icon icon-xl ic-finance text-pt">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </span>
              </div>
              <h3>Compliance</h3>
              <p>
                Integrate tax compliance and regulatory reporting processes
                within your workspace framework
              </p>
              <a class="learn" [routerLink]="['/compliance']"
                >Learn more<span class="arrow">&#10230;</span></a
              >
            </div>
          </div>
          <div class="col" style="margin-bottom: 20px">
            <div class="large-box align-items-center">
              <div class="dot dot-xl bg-onBoarding-light mb-30">
                <span class="icon icon-xl ic-finance text-onBoarding">
                  <i class="fa fa-cubes" aria-hidden="true"></i>
                </span>
              </div>
              <h3>Workforce</h3>
              <p>
                Manage employees, designate roles and responsibilities, and do
                more with HRX Workforce
              </p>
              <a class="learn" [routerLink]="['/work_force']"
                >Learn more<span class="arrow">&#10230;</span></a
              >
            </div>
          </div>

          <div class="col" style="margin-bottom: 20px">
            <div class="large-box align-items-center">
              <div class="dot dot-xl bg-fdx-light mb-30">
                <span class="icon icon-xl ic-finance text-fdx">
                  <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </span>
              </div>
              <h3>Productivity</h3>
              <p>
                A productivity management platform built to help you perform and
                scale up
              </p>
              <a class="learn" [routerLink]="['/productivity']"
                >Learn more<span class="arrow">&#10230;</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="background-color: white">
    <section class="container py-5">
      <div class="row">
        <div class="col-12">
          <h1
            style="font-weight: 500; font-size: 36px; line-height: 48px"
            class="text-center mb-5"
          >
            Powering your ecosystem with reliability
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="">
            <div class="d-flex align-items-end">
              <div class="dot mr-3">
                <span class="icon icon-xl ic-finance text-blue"
                  ><i class="fa fa-shield" aria-hidden="true"></i
                ></span>
              </div>
              <div>
                <h4 style="font-weight: 500" class="text-blue">Security</h4>
              </div>
            </div>

            <div>
              <p class="text-muted">
                HRX is encrypted with 256-bit AES encryption to protect
                sensitive data from potential interceptors. We further conduct
                SSAE Type II Audit every quarter to ensure complete data
                security
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end">
            <div class="dot mr-3">
              <span class="icon icon-xl ic-finance text-onBoarding"
                ><i class="fa fa-lock" aria-hidden="true"></i
              ></span>
            </div>
            <div>
              <h4 style="font-weight: 500" class="text-onBoarding">Privacy</h4>
            </div>
          </div>
          <div>
            <p class="text-muted">
              Your data is yours and we want to keep it that way. All our
              digital experiences are shielded with secure socket layers, giving
              your data the much-needed privacy.
            </p>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end">
            <div class="dot mr-3">
              <span class="icon icon-xl ic-finance text-pp"
                ><i class="fa fa-cogs" aria-hidden="true"></i
              ></span>
            </div>
            <div><h4 style="font-weight: 500" class="text-pp">Testing</h4></div>
          </div>
          <div>
            <p class="text-muted">
              Our applications undergo extensive audits to examine, evaluate,
              enhance, and prevent any bugs, errors, and unprecedented failures.
            </p>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end">
            <div class="dot mr-3">
              <span class="icon icon-xl ic-finance text-pt"
                ><i class="fa fa-file-text" aria-hidden="true"></i
              ></span>
            </div>
            <div>
              <h4 style="font-weight: 500" class="text-pt">Audit compliance</h4>
            </div>
          </div>
          <div>
            <p class="text-muted">
              Comprehensive testing with a 100+ parameter approach, which
              focuses on functionality, performance, load, and vulnerability
              factors.
            </p>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end">
            <div class="dot mr-3">
              <span class="icon icon-xl ic-finance text-pp"
                ><i class="fa fa-globe" aria-hidden="true"></i
              ></span>
            </div>
            <div>
              <h4 style="font-weight: 500" class="text-pp">
                Universal platform
              </h4>
            </div>
          </div>
          <div>
            <p class="text-muted">
              A 360o platform that addresses the productivity and operational
              functions of entities, employees, and intermediaries, making it
              accessible to authenticated users from around the world.
            </p>
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex align-items-end">
            <div class="dot mr-3">
              <span class="icon icon-xl ic-finance text-ptp"
                ><i class="fa fa-hourglass-start" aria-hidden="true"></i
              ></span>
            </div>
            <div>
              <h4 style="font-weight: 500" class="text-ptp">Highly scalable</h4>
            </div>
          </div>
          <div>
            <p class="text-muted">
              The complete organization management infrastructure is designed to
              scale up with your operations. HRX undergoes consistent updates to
              adapt to your changing ecosystems.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <h1 style="text-align: center; font-weight: 500" class="py-5">
    HRX is designed for every Industry
  </h1>

  <div class="container" style="padding-bottom: 50px">
    <div class="row">
      <div class="col-sm-3">
        <div class="dot dot-xl bg-aqua-light m-auto">
          <span class="icon icon-xl ic-finance text-aqua">
            <i class="fa fa-television" aria-hidden="true"></i>
          </span>
        </div>
        <div class="py-3 text-center">
          <h4 style="font-weight: 500">Communications & IT</h4>
          <p class="text-muted">
            Perfect for high-performance ecosystems that constantly enroll new
            talent and measure performance-specific growth
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="dot dot-xl bg-e-commerce-light m-auto">
          <span class="icon icon-xl ic-finance text-e-commerce">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </span>
        </div>
        <div class="py-3 text-center">
          <h4 style="font-weight: 500">e-Commerce</h4>
          <p class="text-muted">
            Ideal for modern, transformative ecosystems that leverage automated
            integrations
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="dot dot-xl bg-healthcare-light m-auto">
          <span class="icon icon-xl ic-finance text-healthcare">
            <i class="fa fa-medkit" aria-hidden="true"></i>
          </span>
        </div>
        <div class="py-3 text-center">
          <h4 style="font-weight: 500">Healthcare</h4>
          <p class="text-muted">
            Essential for human-centric environments where data precision cannot
            be compromised
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="dot dot-xl bg-retail-light m-auto">
          <span class="icon icon-xl ic-finance text-retail">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </span>
        </div>
        <div class="py-3 text-center">
          <h4 style="font-weight: 500">Retail</h4>
          <p class="text-muted">
            Feasible for ecosystems that thrive with seamless automated
            processes and realistic growth management tools
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--footer-->
  <app-welcome-footer></app-welcome-footer>
</div>
<div
  class="modal custom-modal backdrop"
  role="dialog"
  id="getstarted"
  [ngStyle]="{ display: getLoginDisplay }"
  *ngIf="getLoginDisplay == 'block'"
>
  <div class="modal-dialog modal-xl modal-dialog-centered modal-lg">
    <div class="modal-content container no-gutters p-0">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          (click)="closeAddmodal()"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login
          [nonRoutingModule]="true"
          [actionType]="actionType"
          (onClose)="onClose($event)"
        ></app-login>
      </div>
    </div>
  </div>
</div>
