:host ::ng-deep #dateReceived .ui-calendar input {
  width: 82%;
}
.btn-success {
  background-color: #00a2e3;
  border: 1px solid #00a2e3;
}
.btn-success:hover,
.btn-success:not(:disabled):not(.disabled):active {
  background-color: #013893;
  border: 1px solid #013893;
}
.form-header {
  margin-bottom: 0px;
}
:host ::ng-deep .ui-table-customers .ui-table-tbody > tr.mark > td:first-child {
  border-left: 5px solid red;
}
:host ::ng-deep .invoice-list .ui-table table {
  font-size: 95%;
}
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td[ng-reflect-data="amount"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td[ng-reflect-data="amountPaid"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td[ng-reflect-data="aging"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td[ng-reflect-data="balanceAmount"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amount"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amountPaid"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="balanceAmount"],
:host
  ::ng-deep
  #add_payments
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td[ng-reflect-field="amountPaid"],
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amount"] {
  text-align: end;
}
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="invoiceDate"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="invoiceDueDate"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amount"],
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="status"] {
  width: 9%;
}

:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="invoiceDate"],
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="invoiceDueDate"] {
  width: 9%;
}
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-data="invoiceNumber"] {
  width: 12%;
}
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td[ng-reflect-data="invoiceNumber"] {
  font-size: 85%;
}

:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="companyName"] {
  width: 14%;
}
.amount {
  text-align: right;
}
/* :host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="companyName"]
  > p-sorticon,
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="invoiceDate"]
  > p-sorticon,
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="invoiceDueDate"]
  > p-sorticon,
:host
  ::ng-deep
  .invoice-list
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amount"]
  > p-sorticon {
  display: none;
} */
.bg-inverse-red {
  background-color: #f56464e6 !important;
  color: inherit !important;
  padding: 5px;
}
.bg-inverse-green {
  background-color: #49d626 !important;
  color: inherit !important;
  padding: 5px;
}
.bg-inverse-yellow {
  background-color: #f2f532 !important;
  color: inherit !important;
  padding: 5px;
}
.bg-inverse-orange {
  background-color: #f9bb5d !important;
  color: inherit !important;
  padding: 5px;
}
.bg-inverse-blue {
  background-color: #b4d4f7 !important;
  color: inherit !important;
  padding: 5px;
}
.badge {
  text-transform: uppercase;
}
.comment-info {
  cursor: pointer;
  font-size: 17px;
  color: #013893;
}
:host ::ng-deep .ui-dropdown-filter-container .ui-inputtext {
  height: 30px;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="dateReceived"],
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amount"] {
  width: 17%;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="paymentStatus"] {
  width: 9%;
}
.bg-inverse-status {
  background-color: #c7e7e2 !important;
  color: inherit !important;
  padding: 5px;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="balanceAmount"],
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amountPaid"],
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amount"] {
  width: 9%;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="aging"] {
  width: 7%;
}
:host
  ::ng-deep
  .ui-table-customers
  .ui-table-thead
  > tr
  > th[ng-reflect-field="invoiceNumber"] {
  width: 11%;
}
:host
  ::ng-deep
  .ui-table-customers.paymentDetails
  .ui-table-thead
  > tr
  > th[ng-reflect-field="amount"] {
  width: 18%;
}
.action-for-selected-list {
  background-color: inherit;
  float: right;
}
