.table td {
  padding: 8px 10px 8px 10px !important;
}
.badge {
  padding: 5px;
  text-transform: uppercase;
  color: inherit !important;
}
.bg-inverse-active {
  background-color: #55e779 !important;
}
.bg-inverse-in-active {
  background-color: #f56464e6 !important;
}
.bg-inverse-completed {
  background-color: #55e779 !important;
}
.bg-inverse-in-progress {
  background-color: #90c1f5 !important;
}
.bg-inverse-red {
  background-color: #f56464e6 !important;
  color: inherit !important;
  padding: 5px;
}
.bg-inverse-green {
  background-color: #49d626 !important;
  color: inherit !important;
  padding: 5px;
}
.bg-inverse-yellow {
  background-color: #f2f532 !important;
  color: inherit !important;
  padding: 5px;
}
.bg-inverse-orange {
  background-color: #f9bb5d !important;
  color: inherit !important;
  padding: 5px;
}
.bg-inverse-blue {
  background-color: #b4d4f7 !important;
  color: inherit !important;
  padding: 5px;
}
.table {
  font-size: 95%;
}
.dash-widget-info > h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.dash-widget-info > span {
  font-size: 12px;
  font-weight: 500;
}
.card .dash-widget {
  margin-bottom: 13px;
}
.dash-widget:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 8px rgb(237 237 237);
  transition: 0.5s;
}
