<div style="background-color: white">
  <section class="container py-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-5">
          {{ list.defaultLabel }}
        </h1>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let rowData of list.list">
        <div class="col-4">
          <div class="">
            <div class="d-flex align-items-end {{ rowData.iconName }}">
              <!-- <div class="dot mr-3">
                <span class="icon icon-xl"
                  ><i class="{{ rowData.icon }}" aria-hidden="true"></i
                ></span>
              </div> -->
              <div>
                <h4>{{ rowData.label }}</h4>
              </div>
            </div>
            <div>
              <p class="text-muted">
                {{ rowData.content }}
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</div>
