<!-- <app-two-way-data></app-two-way-data>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>App component works</h3>
            <hr>
           
            <hr>
            <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
           <p *ngIf="showSecret">Secreact Password = tuna</p>
           <div *ngFor="let logitems of log" 
                [ngStyle]="{backgroundColor: logitems >= 5 ? 'blue' : 'transparent'}"
                [ngClass]="{'white-text': logitems >=5}">{{logitems}}
        </div>
    </div>
</div> -->

<app-server></app-server>
<app-servers></app-servers>

