#accordionExample .card-header {
  /* background: linear-gradient(to right, #013893 0%, #00a2e3 100%); */
  background-color: #f7f7f7;
  padding: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  font-size: inherit;
  font-weight: 500;
}
#accordionExample .card-header[aria-expanded="true"] {
  background-color: #00a88e;
}
#accordionExample .card-header[aria-expanded="true"] button {
  font-weight: 500;
}
#accordionExample .card-header:hover {
  /* background: linear-gradient(to right, #013893 0%, #00a2e3 100%); */
  color: inherit;
}
#accordionExample .card-header button {
  color: inherit;
  width: 100%;
  text-align: left;
  text-decoration: none;
  padding-left: 5px;
  font-size: inherit;
  font-weight: 500;
}
#accordionExample .card {
  margin-bottom: 25px;
}
#accordionExample .card-header button::after {
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: "";
  height: 8px;
  display: inline-block;
  pointer-events: none;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
  border-color: #1f1f1f;
  vertical-align: 2px;
  margin-left: 2px;
  position: absolute;
  right: 10px;
  top: 15px;
}
#accordionExample .card-header[aria-expanded="true"] button::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.filter-row {
  min-height: 400px;
  overflow: auto;
  top: 1px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}
.filter-row .btn {
  height: 44px;
}
.chat-left .chat-body {
  margin-left: 0px;
}
.chat-left .chat-content,
.chat-right .chat-content {
  width: 75%;
  max-width: 100%;
}
.personal-info li .title {
  width: 26%;
}
.chat-content {
  border-radius: 12px !important;
}
.chat-right .chat-content {
  background-color: #009fd9;
  color: #fff;
}
.chat-right .attach-list,
.chat-right .attach-list a {
  color: inherit;
}
.chat-left .chat-content {
  background-color: #f2f2f2;
  color: #727272;
}
.chat-left .attach-list,
.chat-left .attach-list a {
  color: inherit;
}
