<div class="main-wrapper">
  <div class="account-content">
    <a href="/" class="btn btn-primary apply-btn"
      ><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a
    >
    <div class="container">
      <!-- Account Logo -->
      <div class="account-logo">
        <a href="javascript:void(0)">
          <img src="assets/img/logo2.png" class="inv-logo" alt=""
        /></a>
      </div>
      <!-- /Account Logo -->
      <!-- Authorization Form -->
      <ng-container>
        <div class="account-box">
          <div class="account-wrapper">
            <form
              [formGroup]="changepasswordForm"
              (ngSubmit)="onChangePassword(changepasswordForm.value)"
            >
              <div class="row change-form">
                <div class="col-12">
                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="label_text">
                          <label class="col-form-label"
                            >New Password
                            <span class="text-danger">*</span></label
                          >
                        </div>
                        <input
                          class="form-control"
                          autocomplete="off"
                          formControlName="newPassword"
                          placeholder="New Password"
                          type="password"
                          (keypress)="sharedService.keyPressPassword($event)"
                        />
                        <div class="label_text">
                          <div
                            *ngIf="
                              changepasswordForm.get('newPassword').invalid &&
                              changepasswordForm.get('newPassword').touched
                            "
                          >
                            <div
                              *ngIf="
                                changepasswordForm.get('newPassword').errors
                                  ?.required
                              "
                            >
                              <small class="text-danger"
                                >New password should be required</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('newPassword').errors
                                  ?.minlength
                              "
                            >
                              <small class="text-danger"
                                >New password should be atleast 12
                                characters</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('newPassword').errors
                                  ?.maxlength
                              "
                            >
                              <small class="text-danger"
                                >New password should not exceed 32
                                characters</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('newPassword').errors
                                  ?.hasRepeatedLetters
                              "
                            >
                              <small
                                class="text-danger"
                                *ngIf="
                                  changepasswordForm.get('newPassword').errors
                                    ?.hasRepeatedLetters
                                "
                                >New password should not be contineous repeated
                                characters (EX: 1111 or aaaa etc.)</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('newPassword').errors
                                  ?.isMatchPattern
                              "
                            >
                              <small class="text-danger"
                                >Password should contain each of the following
                                groups: uppercase, lowercase, special, and
                                numeric</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('newPassword').errors
                                  ?.validateSequence
                              "
                            >
                              <small class="text-danger"
                                >New password should not be sequence characters
                                (EX: abcd or 1234 etc.)</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('newPassword').errors
                                  ?.newPasswordMisMatch
                              "
                            >
                              <small class="text-danger"
                                >New Password should not match with Current
                                Password</small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="label_text">
                          <label class="col-form-label label_text"
                            >Confirm Password
                            <span class="text-danger">*</span></label
                          >
                        </div>
                        <input
                          class="form-control"
                          autocomplete="off"
                          formControlName="confnewPassword"
                          placeholder="Confirm Password"
                          type="password"
                          (keypress)="sharedService.keyPressPassword($event)"
                        />
                        <div class="label_text">
                          <div
                            *ngIf="
                              changepasswordForm.get('confnewPassword')
                                .invalid &&
                              changepasswordForm.get('confnewPassword').touched
                            "
                          >
                            <div
                              *ngIf="
                                changepasswordForm.get('confnewPassword').errors
                                  ?.required
                              "
                            >
                              <small class="text-danger"
                                >Confirm password should be required</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('confnewPassword').errors
                                  ?.minLength
                              "
                            >
                              <small class="text-danger"
                                >Confirm password should be atleast 12
                                characters</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('confnewPassword').errors
                                  ?.maxLength
                              "
                            >
                              <small class="text-danger"
                                >Confirm password should not exceed 32
                                characters</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('confnewPassword').errors
                                  ?.hasRepeatedLetters
                              "
                            >
                              <small
                                class="text-danger"
                                *ngIf="
                                  changepasswordForm.get('confnewPassword')
                                    .errors?.hasRepeatedLetters
                                "
                                >Confirm password should not be contineous
                                repeated characters (EX: 1111 or aaaa
                                etc.)</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('confnewPassword').errors
                                  ?.isMatchPattern
                              "
                            >
                              <small class="text-danger"
                                >Password should contain each of the following
                                groups: uppercase, lowercase, special, and
                                numeric</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('confnewPassword').errors
                                  ?.validateSequence
                              "
                            >
                              <small class="text-danger"
                                >Confirm password should not be sequence
                                characters (EX: abcd or 1234 etc.)</small
                              >
                            </div>
                            <div
                              *ngIf="
                                changepasswordForm.get('confnewPassword').errors
                                  ?.passwordMisMatch
                              "
                            >
                              <small class="text-danger"
                                >Confirm Password not matched with New
                                Password</small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="form-group form-row mt-3 mb-0">
                        <button
                          type="submit"
                          class="btn btn-success mr-2"
                          [disabled]="!changepasswordForm.valid"
                        >
                          <i class="fa fa-save"></i>&nbsp; Submit</button
                        >&nbsp;&nbsp;
                        <a
                          href="javascript:void(0);"
                          (click)="cancel()"
                          class="btn btn-danger"
                          ><i class="fa fa-times"></i>&nbsp;Cancel</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-12 policy-block">
                      <h2>Password Policy</h2>
                      <h1>Password Policy Rules for Account Users</h1>
                      <p>
                        HRX requires a minimum set of security standards for
                        password policy rules. Account owners and security
                        administrators can set stricter password rules.
                        <a href="javascript:void(0)"
                          >Learn more about password policy rules.</a
                        >
                      </p>
                      <ul>
                        <li>Password expires every 90 days.</li>
                        <li>
                          Password cannot be reset more thatn 5 times every 24
                          hours
                        </li>
                        <li>
                          Password must:
                          <ul>
                            <li>Include 12 characters minimum</li>
                            <li>
                              Include characters from each of the following
                              groups: uppercase, lowercase, special, and numeric
                            </li>
                          </ul>
                        </li>
                        <li>
                          Password must not:
                          <ul>
                            <li>
                              Be solely a sequence, such as 123456789 or
                              abcdefgh
                            </li>
                            <li>
                              Be solely a single repeated character, such as
                              1111111 or aaaaaaa
                            </li>
                            <li>
                              Be solely a keyboard pattern, such as qwertyui
                            </li>
                            <li>
                              Be solely a common password, such as password or
                              changename
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div> -->
              </div>
            </form>
          </div>
        </div>
      </ng-container>
      <!-- /Authorization Form -->
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
