<footer>
  <div
    style="
      background: linear-gradient(to right, #00a2e3 0%, #013893 100%);
      color: white;
    "
    class="pt-5 pb-3"
  >
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img
            src="assets/img/logo.png"
            alt=""
            class="inv-logo"
            style="height: 40px; width: 40px"
          />
          <p>
            HRX is made for your people, by people like you, who care for people
            in the organization
          </p>
        </div>

        <div class="col-2">
          <h4>Products</h4>
          <ul>
            <li><a [routerLink]="['/people']">People</a></li>
            <li><a [routerLink]="['/work_desk']">Work Desk</a></li>
            <li><a [routerLink]="['/smart_hr']">Smart HR</a></li>
            <li><a [routerLink]="['/compliance']">Compliance</a></li>
            <li><a [routerLink]="['/work_force']">Work Force</a></li>
            <li><a [routerLink]="['/productivity']">Productivity</a></li>
            <li><a [routerLink]="['/people']">FDX</a></li>
          </ul>
        </div>
        <div class="col-2">
          <h4>About</h4>
          <ul>
            <li>Our story</li>
            <li>Our team</li>
            <li>Blog</li>
            <li>Resources</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="col-4">
          <h4>Reach us at</h4>
          <ul>
            <li>
              <i class="fa fa-map-marker pr-2" aria-hidden="true"></i>102 A, KTC
              Illumination Towers, Opposite to Westin Hotel, Mindspace, Hitech
              City, Madhapur, Hyderabad-500081
            </li>
            <li>
              <a href="tel:+911234567890" target="_blank" rel="noopener"
                ><i class="fa fa-phone pr-2" aria-hidden="true"></i>+91
                123-456-7890</a
              >
            </li>
            <li>
              <a href="mailto:hr@hrx.com" target="_blank" rel="noopener"
                ><i class="fa fa-envelope-o pr-2" aria-hidden="true"></i
                >hr@hrx.com</a
              >
            </li>
            <li>
              <div class="social-media d-flex text-center">
                <a
                  href="javascript:void(0)"
                  target="_blank"
                  rel="noopener"
                  class="pr-2"
                >
                  <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                </a>
                <a
                  href="javascript:void(0)"
                  target="_blank"
                  rel="noopener"
                  class="pr-2"
                >
                  <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                </a>
                <a
                  href="javascript:void(0)"
                  target="_blank"
                  rel="noopener"
                  class="pr-2"
                >
                  <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                </a>
                <a
                  href="javascript:void(0)"
                  target="_blank"
                  rel="noopener"
                  class="pr-2"
                >
                  <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <hr style="border-top: 1px solid white" />
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div class="">
              <a>&copy; 2021 HRX Inc. All rights reserved</a>
            </div>
            <div>
              <a class="pr-2">Terms of Service</a>
              <a class="pr-2">Privacy Policy</a>
              <a class="pr-2">Security Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
