<div class="page-wrapper" style="min-height: 283px">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">Requests</li>
            <li class="breadcrumb-item">Request</li>
            <li class="breadcrumb-item active">View</li>
          </ul>
        </div>
        <div class="col-auto float-right ml-auto">
          <a href="javascript:void(0)" (click)="back()" class="btn add-btn"
            ><i class="fa fa-long-arrow-left"></i> Back
          </a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="card mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-0">
              <div class="card-body">
                <div class="profile-view">
                  <div>
                    <h3 class="card-title">
                      Request Details

                      <!-- <div class="col-auto float-right ml-auto">
                        <div class="btn-group btn-group-sm">
                          <button class="btn btn-white" (click)="showDialogToAdd()">
                            <i class="fa fa-pencil"></i> Edit
                          </button>
                        </div>
                      </div> -->
                    </h3>
                  </div>
                  <div class="pro-edit">
                    <a
                      href="javascript:void(0)"
                      class="edit-icon"
                      (click)="showDialogToAdd()"
                      ><i class="fa fa-pencil"></i
                    ></a>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="personal-info">
                        <li class="clearfix">
                          <div class="title">Employee Name :</div>
                          <div class="text">
                            <strong>
                              {{ empRequestDetails?.employeeName }}</strong
                            >
                          </div>
                        </li>
                        <li class="clearfix">
                          <div class="title">Request Type:</div>
                          <div class="text">
                            <strong>
                              {{
                                EmpRequestType[empRequestDetails?.requestType]
                              }}</strong
                            >
                          </div>
                        </li>
                        <li
                          class="clearfix"
                          *ngIf="empRequestDetails?.deductionCriteria"
                        >
                          <div class="title">Deduction Criteria:</div>
                          <div class="text">
                            <strong>
                              {{ empRequestDetails?.deductionCriteria }}</strong
                            >
                          </div>
                        </li>
                        <li
                          class="clearfix"
                          *ngIf="empRequestDetails?.amountRequested"
                        >
                          <div class="title">Amount Requested:</div>
                          <div class="text">
                            <strong>
                              {{ empRequestDetails?.amountRequested }}</strong
                            >
                          </div>
                        </li>
                        <li class="clearfix">
                          <div class="title">Requested On:</div>
                          <div class="text">
                            <strong>
                              {{ empRequestDetails?.requestedDateTime }}</strong
                            >
                          </div>
                        </li>
                        <li class="clearfix">
                          <div class="title">Description:</div>
                          <div class="text">
                            <strong>
                              {{ empRequestDetails?.description }}</strong
                            >
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0 mt-4">
          <section>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div
                  class="card-header"
                  id="empRequestMsgHeading"
                  data-toggle="collapse"
                  data-target="#message"
                  aria-expanded="true"
                  aria-controls="message"
                >
                  <i
                    class="fa fa-comments pl-3"
                    aria-hidden="true"
                    style="font-size: 120%"
                  ></i>
                  <button class="btn btn-link" type="button">
                    Request Messages
                  </button>
                </div>

                <div
                  id="message"
                  class="collapse show"
                  aria-labelledby="empRequestMsgHeading"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="">
                      <div class="row filter-row">
                        <div class="comments">
                          <div class="chat-main-row">
                            <div class="chat-main-wrapper">
                              <div class="col-lg-12 message-view task-view">
                                <div class="chat-window">
                                  <div class="chat-contents">
                                    <div class="chat-content-wrap">
                                      <div class="chat-wrap-inner">
                                        <div class="chat-box">
                                          <div class="chats">
                                            <ng-container
                                              *ngFor="
                                                let message of empRequestDetails.employeeRequestMessages
                                              "
                                            >
                                              <div
                                                class="chat mb-2"
                                                [ngClass]="
                                                  message.alignLeft
                                                    ? 'chat-left'
                                                    : 'chat-right'
                                                "
                                              >
                                                <div class="chat-body">
                                                  <div
                                                    class="chat-bubble"
                                                    [ngClass]="
                                                      message.alignLeft
                                                        ? ''
                                                        : 'd-flex justify-content-start flex-row-reverse'
                                                    "
                                                  >
                                                    <div
                                                      class="chat-action-btns"
                                                      *ngIf="!message.alignLeft"
                                                    >
                                                      <ul class="m-0">
                                                        <li
                                                          *ngIf="
                                                            !message.awsS3UniqueKey &&
                                                            message.canEdit
                                                          "
                                                        >
                                                          <a
                                                            href="javascript:void(0)"
                                                            class="edit-msg"
                                                            (click)="
                                                              editMessage(
                                                                message
                                                              )
                                                            "
                                                            ><i
                                                              class="
                                                                fa fa-pencil
                                                              "
                                                            ></i
                                                          ></a>
                                                        </li>
                                                        <li
                                                          *ngIf="
                                                            message.canDelete
                                                          "
                                                        >
                                                          <a
                                                            href="javascript:void(0)"
                                                            class="del-msg"
                                                            data-toggle="modal"
                                                            data-target="#confirmModel"
                                                            (click)="
                                                              deleteMessage(
                                                                message
                                                              )
                                                            "
                                                            ><i
                                                              class="
                                                                fa fa-trash-o
                                                              "
                                                            ></i
                                                          ></a>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                    <div class="chat-content">
                                                      <p>
                                                        <strong
                                                          >{{
                                                            message.employeeName
                                                          }}
                                                        </strong>
                                                        <span
                                                          style="
                                                            font-size: 12px;
                                                            font-weight: 400;
                                                            float: right;
                                                          "
                                                          >{{
                                                            message.savedDateTime
                                                          }}</span
                                                        >
                                                      </p>
                                                      <ng-container
                                                        *ngIf="
                                                          !message.awsS3UniqueKey
                                                        "
                                                      >
                                                        <p>
                                                          {{ message.message }}
                                                        </p>
                                                      </ng-container>
                                                      <ng-container
                                                        *ngIf="
                                                          message.awsS3UniqueKey
                                                        "
                                                      >
                                                        <ul class="attach-list">
                                                          <li>
                                                            <i
                                                              class="fa fa-file"
                                                            ></i>
                                                            <a
                                                              href="javascript:void(0)"
                                                              (click)="
                                                                downloadFile(
                                                                  message
                                                                )
                                                              "
                                                              >{{
                                                                message.awsS3UniqueKey
                                                              }}</a
                                                            >
                                                          </li>
                                                        </ul>
                                                      </ng-container>
                                                      <!-- <span class="chat-time">{{
                                                        message.savedDateTime
                                                      }}</span> -->
                                                    </div>
                                                    <div
                                                      class="chat-action-btns"
                                                      *ngIf="message.alignLeft"
                                                    >
                                                      <ul class="m-0">
                                                        <li
                                                          *ngIf="
                                                            !message.awsS3UniqueKey &&
                                                            message.canEdit
                                                          "
                                                        >
                                                          <a
                                                            href="javascript:void(0)"
                                                            class="edit-msg"
                                                            (click)="
                                                              editMessage(
                                                                message
                                                              )
                                                            "
                                                            ><i
                                                              class="
                                                                fa fa-pencil
                                                              "
                                                            ></i
                                                          ></a>
                                                        </li>
                                                        <li
                                                          *ngIf="
                                                            message.canDelete
                                                          "
                                                        >
                                                          <a
                                                            href="javascript:void(0)"
                                                            class="del-msg"
                                                            data-toggle="modal"
                                                            data-target="#confirmModel"
                                                            (click)="
                                                              deleteMessage(
                                                                message
                                                              )
                                                            "
                                                            ><i
                                                              class="
                                                                fa fa-trash-o
                                                              "
                                                            ></i
                                                          ></a>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </ng-container>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <form
                                    (ngSubmit)="sendMessage(messageDetails)"
                                    (keydown)="
                                      EnterSubmit($event, messageDetails)
                                    "
                                  >
                                    <div class="chat-footer">
                                      <div class="message-bar">
                                        <div class="message-inner">
                                          <a
                                            class="link attach-icon"
                                            href="javascript:void(0)"
                                            (click)="uploadAttachemnts()"
                                            ><img
                                              src="assets/img/attachment.png"
                                              alt=""
                                          /></a>
                                          <div class="message-area">
                                            <div class="input-group">
                                              <textarea
                                                class="form-control"
                                                placeholder="Type message..."
                                                [(ngModel)]="
                                                  messageDetails.message
                                                "
                                                pattern="[a-zA-Z ]{1,150}"
                                                (keypress)="
                                                  sharedService.keyPressAddress(
                                                    $event
                                                  )
                                                "
                                                name="message"
                                              ></textarea>
                                              <span class="input-group-append">
                                                <button
                                                  class="btn btn-custom"
                                                  type="submit"
                                                >
                                                  <i class="fa fa-send"></i>
                                                </button>
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <ng-container *ngIf="empRequestType == 'Edit'">
      <app-edit-request
        [empRequestType]="empRequestType"
        [selectedEmpRequestList]="selectedEmpRequestDetails"
        [userId]="userId"
        (onClose)="onEditAddCloseClick($event)"
      >
      </app-edit-request>
    </ng-container>
  </div>
</div>
<!-- confirm model-->
<div
  class="modal custom-modal fade"
  id="confirmModel"
  role="dialog"
  aria-modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Confirm</h3>
          <p>Are you sure ? Do you want to Delete ?</p>
        </div>
        <div class="modal-btn">
          <div class="row">
            <div class="col-6 d-flex justify-content-end">
              <a
                href="javascript:void(0);"
                data-dismiss="modal"
                (click)="confirm(selectedMessageDetails)"
                class="btn btn-primary submit-btn"
                >Confirm</a
              >
            </div>
            <div class="col-6 d-flex justify-content-start">
              <a
                href="javascript:void(0);"
                data-dismiss="modal"
                class="btn btn-primary submit-btn"
                >Cancel</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /confirm model-->
<!-- Upload file model-->
<div
  id="uploadFile_info"
  [ngStyle]="{ display: uploadFileInfo }"
  class="modal custom-modal backdrop"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          *ngIf="errorLabel"
          style="position: absolute; left: 15px"
          class="text-danger"
        >
          {{ errorLabel }}
        </h5>
        <h5 class="modal-title">Upload Document</h5>
        <button
          type="button"
          class="close"
          (click)="closeModal(uploadForm)"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form (ngSubmit)="saveUploadFile(uploadForm)" #uploadForm="ngForm">
            <div class="row" *ngIf="errorLabel">
              <div class="col-sm-6" style="color: red">
                {{ errorLabel }}
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="form-group">
                  <label class="col-form-label"
                    >Title <span class="text-danger">*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    name="title"
                    [(ngModel)]="uploadedFileTitle"
                    maxlength="150"
                    pattern="[A-Za-z ]{1,150}"
                    (keypress)="sharedService.keyPressAlphabet($event)"
                    required
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="col-form-label"
                    >File To Upload <span class="text-danger">*</span></label
                  >
                  <div class="d-flex align-items-center">
                    <input
                      class="form-control"
                      type="file"
                      id="fileToUpload"
                      (change)="onFileChange($event)"
                      #fileInput
                      required
                    />
                    <div *ngIf="fileToUpload">
                      <a
                        class="btn btn-danger btn-clear-file"
                        href="javascript:void(0)"
                        aria-label="Remove"
                        (click)="clearFile()"
                      >
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="submit-section">
              <button
                type="submit"
                class="btn btn-primary submit-btn"
                [disabled]="!uploadForm.valid || !fileToUpload"
              >
                Upload
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Upload file Modal -->
