:host ::ng-deep .dropdown-toggle::after {
  display: none;
}
:host ::ng-deep .p-inputnumber {
  width: 100%;
}

:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(2) {
  width: 13%;
}
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:first-child {
  width: 20%;
}
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(3),
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td:nth-child(3) {
  width: 10%;
  text-align: right;
}
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td:nth-child(4) {
  width: 10%;
  text-align: right;
}
:host
  ::ng-deep
  .mainpayDeductionList
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(5) {
  width: 30%;
}
:host ::ng-deep td .dropdown .dropdown-toggle {
  width: 275px;
  text-align: start;
}
:host
  ::ng-deep
  .deductionDetails
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(2) {
  width: 15%;
}
:host
  ::ng-deep
  .deductionDetails
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(3) {
  width: 11%;
}

:host
  ::ng-deep
  .deductionDetails
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(4),
:host
  ::ng-deep
  .deductionDetails
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td:nth-child(4) {
  width: 10%;
  text-align: right;
}
:host
  ::ng-deep
  .deductionDetails
  .ui-table-customers
  .ui-table-tbody
  > tr
  > td:nth-child(5) {
  width: 10%;
  text-align: right;
}
:host
  ::ng-deep
  .deductionDetails
  .ui-table-customers
  .ui-table-thead
  > tr
  > th:nth-child(6) {
  width: 30%;
}
.right {
  text-align: right;
}
#accordionExample .card-header {
  /* background: linear-gradient(to right, #013893 0%, #00a2e3 100%); */
  background-color: #f7f7f7;
  padding: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  font-size: inherit;
  font-weight: 500;
}
#accordionExample .card-header[aria-expanded='true'] {
  background-color: #00a88e;
}
#accordionExample .card-header[aria-expanded='true'] button {
  font-weight: 500;
}
#accordionExample .card-header:hover {
  /* background: linear-gradient(to right, #013893 0%, #00a2e3 100%); */
  color: inherit;
}
#accordionExample .card-header button {
  color: inherit;
  width: 75%;
  text-align: left;
  text-decoration: none;
  padding-left: 5px;
  font-size: inherit;
  font-weight: 500;
}
#accordionExample .card {
  margin-bottom: 25px;
}
#accordionExample .card-header button::after {
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: '';
  height: 8px;
  display: inline-block;
  pointer-events: none;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
  border-color: #1f1f1f;
  vertical-align: 2px;
  margin-left: 2px;
  position: absolute;
  right: 10px;
  top: 15px;
}
#accordionExample .card-header[aria-expanded='true'] button::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.list-group-item {
  padding: 5px;
}
#approvers .card-body {
  max-height: 150px;
  overflow: auto;
}
