nav{
    background-color: #1D62A7;
    }
    
    
    
    .fa{
    color: #efaf4e;
    margin: 1px;
    }
    
    
    
    .heading2{
    color: #1D62A7;
    font-size: 40px;
    }
    
    
    
    
    .para2{
    color: #efaf4e;
    font-size: 25px;
    }
    
    
    
    .textstyle{
    color: #1D62A7;
    font-weight: bold;
    }
    
    
    
    .paraleft{
    margin-left: 70px;
    }
    
    
    
    .frtcardpara{
    font-size: 14px;
    text-align: center;
    }
    
    
    
    footer{
    background-color: #555555;
    }
    
    
    
    .card-title{
    color: #efaf4e;
    }