<div
  id="add_employee"
  class="modal custom-modal backdrop"
  [ngStyle]="{ display: addemployeeDisplay }"
  role="dialog"
  aria-modal="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Checklist Details</h5>
        <button
          type="button"
          class="close"
          (click)="closeAddmodal()"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card m-0">
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="save()">
              <div>
                <div class="row" *ngIf="errLabel">
                  <div class="col-sm-6" style="color: red">
                    {{ errLabel }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Checklist Name
                        <span class="text-danger">*</span></label
                      >
                      <input
                        pInputText
                        class="form-control"
                        type="text"
                        name="checklistName"
                        [(ngModel)]="department.checklistName"
                        placeholder=""
                        maxlength="50"
                        (blur)="checkDepartmentAlreadyExist()"
                        required
                        #checklistName="ngModel"
                        (keypress)="
                          sharedService.keyPressAlphaNumericWithSpecialChar(
                            $event
                          )
                        "
                      />
                      <small
                        class="text-danger"
                        *ngIf="checklistName.touched && checklistName.invalid"
                        >The given value is not a valid format</small
                      >
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="col-form-label">Description </label>
                      <input
                        pInputText
                        class="form-control"
                        [(ngModel)]="department.description"
                        name="desc"
                        placeholder=""
                        type="text"
                        maxlength="255"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <h5>Checklist Entries</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label class="col-form-label"
                        >Entry Name <span class="text-danger">*</span></label
                      >
                      <input
                        pInputText
                        class="form-control"
                        type="text"
                        name="entryName"
                        [(ngModel)]="entryName"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label class="col-form-label">Description </label>
                      <input
                        pInputText
                        class="form-control"
                        [(ngModel)]="description1"
                        name="description1"
                        placeholder=""
                        type="text"
                        maxlength="255"
                      />
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <button
                      class="btn btn-sm add-btn"
                      style="margin-top: 35px"
                      (click)="addEntry()"
                    >
                      <i class="fa fa-plus"></i>&nbsp;Add
                    </button>
                  </div>
                </div>

                <div class="ui-table-customers ui-table ui-widget">
                  <table class="table table-condensed table-bordered">
                    <thead class="ui-table-thead">
                      <tr>
                        <th>Entry Name</th>
                        <th>Description</th>
                        <th style="width: 50px"></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let row of entries; let sno = index">
                      <td>{{ row.entryName }}</td>
                      <td>{{ row.description }}</td>
                      <td class="action-td">
                        <a
                          href="javascript:void(0)"
                          class="mr-2 delete px-0 text-info"
                          (click)="editEntry(row, sno)"
                          ><i
                            class="fa fa-pencil-square-o"
                            aria-hidden="true"
                          ></i
                        ></a>
                        <a
                          href="javascript:void(0)"
                          class="delete px-0 text-danger"
                          (click)="deleteEntry(sno)"
                          ><i class="fa fa-trash-o" aria-hidden="true"></i
                        ></a>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="submit-section">
                  <button
                    type="submit"
                    [disabled]="!department.checklistName || !f.valid"
                    class="btn btn-success"
                  >
                    <i class="fa fa-save"></i>&nbsp;Save
                  </button>
                  <button class="btn btn-danger ml-2" (click)="closeAddmodal()">
                    <i class="fa fa-times"></i>&nbsp;Cancel
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
