<div class="main-wrapper">
  <div class="account-content">
    <div class="container">
      <!-- Account Logo -->
      <div class="account-logo">
        <a href="javascript:void(0)">
          <img src="assets/img/logo2.png" class="inv-logo" alt=""
        /></a>
      </div>
      <!-- /Account Logo -->

      <div class="account-box">
        <div class="account-wrapper">
          <h3 class="account-title">Forgot Password</h3>
          <p class="account-subtitle">
            Enter Your Email Id to get Reset Password Link
          </p>

          <!-- Account Form -->
          <form
            autocomplete="off"
            name="forgotPassword"
            (ngSubmit)="onFormSubmit()"
            #form="ngForm"
          >
            <div class="form-group">
              <label>Email Address <span class="text-danger">*</span></label>
              <input
                class="form-control"
                type="text"
                name="email"
                [(ngModel)]="emailId"
                #emial="ngModel"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                (keypress)="sharedService.keyPressEmail($event)"
              />
              <small class="text-danger" *ngIf="emial.touched && emial.invalid"
                >The given email id is not a valid format.</small
              >
            </div>

            <div class="form-group text-center">
              <button
                tabindex="3"
                class="btn btn-primary account-btn"
                type="submit"
                [disabled]="!form.valid"
              >
                Submit
              </button>
            </div>
            <div class="account-footer">
              <p>
                <a [routerLink]="['/login']">Login</a> to access your account ?
              </p>
              <p>
                Don't have an account yet ?
                <a [routerLink]="['/welcome']">Register</a>
              </p>
            </div>
          </form>
          <!-- /Account Form -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
